table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td{
    text-align: left;
    padding: 18px 10px;
  }
  
  th {
    text-align: left;
    padding: 10px;
  }
  

  tr:nth-child(even) {
    background-color: #F9F9F9;
  }

  .table-div{
      overflow: auto;
      width:100%;
  }

  a {
      text-decoration: none;
  }